---
import "../styles/process.css";
---

<section class="process" id="process">
  <div class="process-inner">
    <div class="process-header">
      <h2 class="process-headline">Our Process</h2>
      <p class="process-subtext">
        From concept to completion in four seamless steps
      </p>
    </div>

    <div class="process-steps">
      <!-- Step 1 -->
      <div class="process-step process-step--high">
        <div class="process-icon">
          <svg
            viewBox="0 0 32 32"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <path
              d="M16.97 0.75c-5.108 0-10.28 3.864-10.28 11.25 0 0.69 0.56 1.25 1.25 1.25s1.25-0.56 1.25-1.25v0c0-6.012 4.033-8.75 7.78-8.75s7.78 2.738 7.78 8.75c0.005 0.124 0.008 0.27 0.008 0.416 0 0.717-0.067 1.418-0.194 2.098l0.011-0.070c-0.241 1.112-0.633 2.096-1.162 2.991l0.025-0.046c-0.286 0.493-0.583 0.917-0.911 1.315l0.013-0.016c-0.188 0.227-0.393 0.432-0.598 0.635-0.378 0.359-0.72 0.747-1.026 1.163l-0.017 0.024c-0.429 0.631-0.849 1.359-1.216 2.118l-0.046 0.105c-0.266 0.49-0.52 1.069-0.726 1.67l-0.024 0.082c-0.098 0.328-0.168 0.711-0.196 1.105l-0.001 0.018c-0.013 0.22-0.046 0.426-0.097 0.624l0.005-0.022c-0.083 0.282-0.177 0.522-0.288 0.752l0.013-0.029c-0.221 0.427-0.505 0.79-0.845 1.092l-0.004 0.003c-0.733 0.622-1.657 1.040-2.672 1.156l-0.023 0.002c-0.235 0.033-0.506 0.052-0.781 0.052-0.818 0-1.597-0.167-2.304-0.469l0.038 0.015c-0.893-0.371-1.607-1.022-2.049-1.842l-0.011-0.022c-0.266-0.544-0.422-1.183-0.422-1.859 0-0.021 0-0.043 0-0.064l-0 0.003c0-0.69-0.56-1.25-1.25-1.25s-1.25 0.56-1.25 1.25v0c-0 0.018-0 0.038-0 0.059 0 1.085 0.254 2.111 0.706 3.021l-0.018-0.040c0.72 1.368 1.868 2.429 3.262 3.023l0.043 0.016c0.947 0.415 2.051 0.656 3.211 0.656 0.011 0 0.022-0 0.034-0h-0.002c0.392-0 0.778-0.026 1.156-0.075l-0.045 0.005c1.561-0.182 2.947-0.821 4.049-1.779l-0.009 0.008c0.574-0.512 1.049-1.12 1.402-1.801l0.016-0.035c0.155-0.309 0.301-0.675 0.417-1.055l0.013-0.050c0.096-0.323 0.165-0.699 0.192-1.087l0.001-0.017c0.013-0.226 0.048-0.437 0.101-0.64l-0.005 0.023c0.187-0.542 0.39-0.999 0.625-1.436l-0.025 0.051c0.354-0.743 0.713-1.369 1.113-1.965l-0.035 0.055c0.235-0.314 0.484-0.591 0.754-0.844l0.003-0.003c0.262-0.26 0.521-0.523 0.762-0.814 1.214-1.476 2.104-3.266 2.534-5.228l0.015-0.083c0.151-0.76 0.238-1.634 0.238-2.528 0-0.154-0.003-0.307-0.008-0.459l0.001 0.022c0-7.386-5.172-11.25-10.28-11.25zM16.656 16.35c-2.227 0.358-3.907 2.266-3.907 4.566 0 0.030 0 0.059 0.001 0.089l-0-0.004c0 0.727-0.294 1.195-0.75 1.195s-0.75-0.469-0.75-1.195c0-0.69-0.56-1.25-1.25-1.25s-1.25 0.56-1.25 1.25v0c-0.010 0.098-0.016 0.212-0.016 0.327 0 1.825 1.45 3.31 3.261 3.368l0.005 0c1.816-0.058 3.266-1.543 3.266-3.368 0-0.115-0.006-0.229-0.017-0.341l0.001 0.014c-0-0.011-0-0.024-0-0.037 0-1.086 0.796-1.985 1.837-2.147l0.012-0.002c0.384-0.025 0.739-0.129 1.057-0.294l-0.015 0.007c0.308-0.182 0.565-0.416 0.768-0.692l0.005-0.007c0.773-0.948 1.241-2.171 1.241-3.503 0-1.208-0.385-2.327-1.040-3.239l0.011 0.017c-0.998-1.28-2.54-2.096-4.273-2.096-0.065 0-0.13 0.001-0.194 0.003l0.009-0c-0.413 0.024-0.801 0.093-1.17 0.203l0.037-0.009c0.659-1.288 1.976-2.154 3.496-2.154 1.083 0 2.063 0.44 2.771 1.15l0 0c0.827 0.934 1.331 2.17 1.331 3.524 0 0.097-0.003 0.194-0.008 0.29l0.001-0.013c0 0.69 0.56 1.25 1.25 1.25s1.25-0.56 1.25-1.25v0c0.019-0.193 0.030-0.417 0.030-0.644 0-3.71-2.955-6.73-6.64-6.834l-0.010-0c-3.694 0.105-6.649 3.124-6.649 6.834 0 0.227 0.011 0.451 0.033 0.672l-0.002-0.028c0 0 0 0.001 0 0.001 0 0.69 0.559 1.249 1.249 1.249 0.511 0 0.95-0.306 1.143-0.746l0.003-0.008c0.017-0.017 0.039-0.023 0.055-0.041 0.509-0.584 1.254-0.951 2.084-0.951 0.899 0 1.698 0.43 2.202 1.096l0.005 0.007c0.334 0.495 0.534 1.106 0.534 1.763 0 0.731-0.247 1.405-0.662 1.942l0.005-0.007z"
            ></path>
          </svg>
        </div>
        <h3 class="process-step-title">First, We Listen</h3>
        <p class="process-step-body">
          You tell us what you're building, who it's for, and what feeling you
          want it to leave. We take notes, ask the right questions, and get
          aligned before a single clip is touched.
        </p>
        <div class="process-line"></div>
      </div>

      <!-- Step 2 -->
      <div class="process-step process-step--low">
        <div class="process-icon">
          <svg
            viewBox="0 0 512 512"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <path
              d="M336.458,74.175H175.542c-19.009,0-34.473,15.437-34.473,34.415v115.268c0,18.984,15.464,34.428,34.473,34.428h43.762 l27.638,47.89c1.866,3.234,5.315,5.227,9.049,5.227c3.733,0,7.183-1.992,9.05-5.224l27.653-47.892h43.765 c19.017,0,34.489-15.445,34.489-34.428V108.59C370.947,89.614,355.475,74.175,336.458,74.175z M350.049,223.858 c0,7.462-6.097,13.53-13.591,13.53h-49.797c-3.732,0-7.183,1.992-9.049,5.224l-21.618,37.44l-21.605-37.438 c-1.866-3.235-5.316-5.227-9.05-5.227h-49.797c-7.486,0-13.575-6.07-13.575-13.53V108.59h-0.001 c0-7.453,6.09-13.517,13.575-13.517h160.916c7.494,0,13.591,6.064,13.591,13.517V223.858z"
            ></path>
            <path
              d="M292.668,157.187l-53.176-30.634c-3.233-1.861-7.214-1.86-10.445,0.007c-3.231,1.867-5.22,5.315-5.22,9.047v61.252 c0,3.73,1.99,7.178,5.219,9.046c1.617,0.936,3.423,1.403,5.23,1.403c1.799,0,3.6-0.464,5.214-1.394l53.176-30.618 c3.239-1.864,5.235-5.316,5.235-9.054C297.9,162.506,295.906,159.052,292.668,157.187z M244.724,178.785v-25.101l21.79,12.553 L244.724,178.785z"
            ></path>
            <path
              d="M501.551,316.617h-29.257H347.603h-29.257H193.654h-29.257H39.706H10.449C4.678,316.617,0,321.296,0,327.066v100.31 c0,5.77,4.678,10.449,10.449,10.449h29.257c5.771,0,10.449-4.679,10.449-10.449v-31.694h103.793v31.694 c0,5.77,4.678,10.449,10.449,10.449h29.257c5.771,0,10.449-4.679,10.449-10.449v-31.694h103.794v31.694 c0,5.77,4.678,10.449,10.449,10.449h29.257c5.771,0,10.449-4.679,10.449-10.449v-31.694h103.793v31.694 c0,5.77,4.678,10.449,10.449,10.449h29.257c5.771,0,10.449-4.679,10.449-10.449v-100.31 C512,321.295,507.322,316.617,501.551,316.617z M29.257,385.233v31.694h-8.359v-79.412h8.359V385.233z M153.948,374.784H50.155 v-37.269h103.793V374.784z M183.205,416.927h-8.359v-31.694v-47.718h8.359V416.927z M307.897,374.784H204.104v-37.269h103.793 V374.784z M337.154,385.233v31.694h-8.359v-79.412h8.359V385.233z M461.845,374.784H358.052v-37.269h103.793V374.784z M491.102,416.927h-8.359v-31.694v-47.718h8.359V416.927z"
            ></path>
            <path
              d="M184.599,148.9c-5.771,0-10.449,4.679-10.449,10.449v56.281c0,5.772,4.679,10.449,10.449,10.449 c5.771,0,10.449-4.679,10.449-10.449v-56.281C195.048,153.578,190.37,148.9,184.599,148.9z"
            ></path>
            <path
              d="M184.599,100.292c-5.771,0-10.449,4.679-10.449,10.449v17.117c0,5.771,4.678,10.449,10.449,10.449 s10.449-4.679,10.449-10.449v-17.117C195.048,104.971,190.37,100.292,184.599,100.292z"
            ></path>
          </svg>
        </div>
        <h3 class="process-step-title">We Get To Work</h3>
        <p class="process-step-body">
          This is where the edit comes to life. We cut, sequence, colour, and
          score until the footage becomes something worth watching.
        </p>
        <div class="process-line"></div>
      </div>

      <!-- Step 3 -->
      <div class="process-step process-step--high">
        <div class="process-icon">
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.25 2.00169C3.85306 2.01188 3.08814 2.08343 2.58579 2.58579C2.08343 3.08814 2.01188 3.85306 2.00169 5.25H5.25V2.00169Z"
            ></path>
            <path
              d="M2.00169 6.75C2.01188 8.14694 2.08343 8.91186 2.58579 9.41421C3.08814 9.91657 3.85306 9.98812 5.25 9.99831V6.75H2.00169Z"
            ></path>
            <path d="M6.75 10H10.25V2H6.75V10Z"></path>
            <path
              d="M11.75 2.00169V5.25H14.9983C14.9881 3.85306 14.9166 3.08814 14.4142 2.58579C13.9119 2.08343 13.1469 2.01188 11.75 2.00169Z"
            ></path>
            <path
              d="M14.9983 6.75H11.75V9.99831C13.1469 9.98812 13.9119 9.91657 14.4142 9.41421C14.9166 8.91186 14.9881 8.14694 14.9983 6.75Z"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2.46967 12.4697C2.76256 12.1768 3.23744 12.1768 3.53033 12.4697L4.53033 13.4697C4.82322 13.7626 4.82322 14.2374 4.53033 14.5303C4.31981 14.7408 4.01528 14.8001 3.75187 14.7079C3.75402 14.9958 3.75864 15.292 3.76855 15.5673C3.77779 15.8243 3.79129 16.0518 3.81012 16.2309C3.82509 16.3733 3.83996 16.4464 3.8451 16.4716C3.84744 16.4831 3.84776 16.4847 3.84515 16.4784C3.97202 16.7846 4.21536 17.028 4.52165 17.1548C4.5988 17.1868 4.71601 17.2163 4.95674 17.2327C5.20421 17.2496 5.5238 17.25 6 17.25C6.41421 17.25 6.75 17.5858 6.75 18C6.75 18.4142 6.41421 18.75 6 18.75H5.97474C5.53028 18.75 5.15925 18.75 4.85464 18.7292C4.53754 18.7076 4.23801 18.661 3.94762 18.5407C3.27379 18.2616 2.73844 17.7262 2.45933 17.0524C2.37486 16.8485 2.33936 16.5876 2.31834 16.3877C2.29434 16.1594 2.2793 15.8933 2.26952 15.6213C2.25885 15.3249 2.25402 15.0083 2.25182 14.7066C1.98758 14.8006 1.68118 14.7418 1.46967 14.5303C1.17678 14.2374 1.17678 13.7626 1.46967 13.4697L2.46967 12.4697Z"
            ></path>
            <path
              d="M19.0433 6.76729C18.7958 6.75041 18.4762 6.75 18 6.75C17.5858 6.75 17.25 6.41421 17.25 6C17.25 5.58579 17.5858 5.25 18 5.25H18.0253H18.0253C18.4697 5.24999 18.8408 5.24999 19.1454 5.27077C19.4625 5.29241 19.762 5.33905 20.0524 5.45933C20.7262 5.73844 21.2616 6.27379 21.5407 6.94762C21.6251 7.15155 21.6606 7.41236 21.6817 7.61233C21.7057 7.84059 21.7207 8.10675 21.7305 8.37872C21.7411 8.67506 21.746 8.99166 21.7482 9.29336C22.0124 9.19939 22.3188 9.25816 22.5303 9.46967C22.8232 9.76256 22.8232 10.2374 22.5303 10.5303L21.5303 11.5303C21.2374 11.8232 20.7626 11.8232 20.4697 11.5303L19.4697 10.5303C19.1768 10.2374 19.1768 9.76256 19.4697 9.46967C19.6802 9.25915 19.9847 9.19994 20.2481 9.29205C20.246 9.00421 20.2414 8.70798 20.2315 8.43266C20.2222 8.17572 20.2087 7.94823 20.1899 7.76913C20.1749 7.62668 20.16 7.55364 20.1549 7.52841L20.1549 7.5284C20.1526 7.51691 20.1522 7.51534 20.1549 7.52165C20.028 7.21536 19.7846 6.97202 19.4784 6.84515C19.4012 6.81319 19.284 6.78372 19.0433 6.76729Z"
            ></path>
            <path
              d="M12.7503 14.0092C11.6642 14.0368 11.0249 14.1469 10.586 14.5858C10.0837 15.0881 10.0121 15.8531 10.002 17.25H12.7503V14.0092Z"
            ></path>
            <path
              d="M10.002 18.75C10.0121 20.1469 10.0837 20.9119 10.586 21.4142C11.0249 21.8531 11.6642 21.9632 12.7503 21.9908V18.75H10.002Z"
            ></path>
            <path d="M14.2503 22H16.7503V14H14.2503V22Z"></path>
            <path
              d="M18.2503 14.0092V17.25H20.9986C20.9884 15.8531 20.9168 15.0881 20.4145 14.5858C19.9756 14.1469 19.3363 14.0368 18.2503 14.0092Z"
            ></path>
            <path
              d="M20.9986 18.75H18.2503V21.9908C19.3363 21.9632 19.9756 21.8531 20.4145 21.4142C20.9168 20.9119 20.9884 20.1469 20.9986 18.75Z"
            ></path>
          </svg>
        </div>
        <h3 class="process-step-title">We Refine Together</h3>
        <p class="process-step-body">
          You get a preview. You tell us what to change. We fix it fast. No back
          and forth forever. Just clean, focused revisions until it's exactly
          right.
        </p>
        <div class="process-line"></div>
      </div>

      <!-- Step 4 -->
      <div class="process-step process-step--low">
        <div class="process-icon">
          <svg
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <path fill="none" d="M0 0H24V24H0z"></path>
            <path
              d="M16 4c.552 0 1 .448 1 1v4.2l5.213-3.65c.226-.158.538-.103.697.124.058.084.09.184.09.286v12.08c0 .276-.224.5-.5.5-.103 0-.203-.032-.287-.09L17 14.8V19c0 .552-.448 1-1 1H2c-.552 0-1-.448-1-1V5c0-.552.448-1 1-1h14zm-1 2H3v12h12V6zm-5 2v4h3l-4 4-4-4h3V8h2zm11 .841l-4 2.8v.718l4 2.8V8.84z"
            ></path>
          </svg>
        </div>
        <h3 class="process-step-title">Your Video, Delivered</h3>
        <p class="process-step-body">
          Export ready. Platform ready. Yours to publish, share, or run as an
          ad. On time, every time.
        </p>
        <div class="process-line"></div>
      </div>
    </div>

    <div class="process-bar">
      {
        Array.from({ length: 80 }, (_, i) => (
          <div
            class={`process-bar-seg ${i < 28 ? "process-bar-seg--on" : "process-bar-seg--off"}`}
          />
        ))
      }
    </div>
  </div>
</section>

<script>
  const steps = document.querySelectorAll<HTMLElement>(".process-step");
  const segs = document.querySelectorAll<HTMLElement>(".process-bar-seg");

  // ─── Fallback — make steps visible if already in view ────
  if (!("IntersectionObserver" in window)) {
    steps.forEach((step) => {
      step.style.opacity = "1";
      step.style.transform = "translateY(0)";
    });
  }

  // ─── Progress bar update ──────────────────────────────────
  function updateBar(stepIndex: number) {
    const fills = [20, 40, 60, 80];
    const count = fills[stepIndex];
    segs.forEach((seg, i) => {
      if (i < count) {
        seg.classList.add("process-bar-seg--on");
        seg.classList.remove("process-bar-seg--off");
      } else {
        seg.classList.remove("process-bar-seg--on");
        seg.classList.add("process-bar-seg--off");
      }
    });
  }

  // ─── Scroll reveal ────────────────────────────────────────
  const revealObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const step = entry.target as HTMLElement;
          const index = Array.from(steps).indexOf(step);
          setTimeout(() => {
            step.classList.add("in-view");
          }, index * 150);
          revealObserver.unobserve(step);
        }
      });
    },
    { threshold: 0, rootMargin: "0px 0px -50px 0px" }
  );

  steps.forEach((step) => revealObserver.observe(step));

  // ─── Hover (desktop) ─────────────────────────────────────
  steps.forEach((step, i) => {
    step.addEventListener("mouseenter", () => updateBar(i));
  });

  // ─── Active glow + bar (mobile scroll focus only) ─────────
  if (window.innerWidth < 768) {
    const activeObserver = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const index = Array.from(steps).indexOf(
              entry.target as HTMLElement
            );
            steps.forEach((s) => s.classList.remove("process-step--active"));
            entry.target.classList.add("process-step--active");
            updateBar(index);
          }
        });
      },
      { threshold: 0.6 }
    );

    steps.forEach((step) => activeObserver.observe(step));
  }
</script>
